<div class="center" id="splash_page">
	<div class="row row-logo">
		<%= image_tag('cardagain_logo.png', alt: 'Cardagain', class: "splash_logo") %>
	</div>

	<% if false %>

	<div class="row">
		<div class="col-xs-4">
			<p>
				Cardagain allows you to queue greeting card purchases for the important dates in your life. Several weeks before each event, we deliver you the card of your choice, pre-addressed and pre-stamped, so that you can write your personal message in time for delivery.
			</p>
		</div>
		<div class="col-xs-4">
			<p>
				We want to remember our friends' birthdays. Or our parents' anniversary. Or mother's and father's day. But we often forget until it's too late to do anything but give them a text or facebook post the day of. We want to help you remember in time.
			</p>
		</div>
		<div class="col-xs-4">
			<p>
				With our application, you can see all your dates in advance and act now before you forget. We don't want to write your message for you, or sent a printed message. We know that you want to handwrite and deliver it yourself. We don't want to take anything away from your thoughtfulness.
			</p>
		</div>
	</div>
	<% end %>
	<div class="test">
		<a href="#" id="test_link">test me</a>
	</div>

	<div class="row row-waitlist">
		<% if @waitlist %>
			<%= @waitlist.inspect %>
		<% end %>
		<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
			<div>
				<h3>We make it easier to send personal, hand-written cards.</h3>
			</div>
			<div>
				<h4>Be the first to know when it's ready:</h4>
			</div>
			<div>
				<%= form_for(:waitlist, url: waitlist_path) do |f| %>

					<%= f.text_field :email, { placeholder: "What's your email address?", class: "waitlist-input", value: @waitlist_email } %>
					<%= f.submit "Get queued", { id: "submit_waitlist", class: "waitlist-submit" } %>
				<% end %>
			</div>
		</div>
	</div>
	<br><br><br><br><br><br>
	<% if false %>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>	
</div>
