<div class="center splash_page">

	<div class="container">
		<div class="hero row">
			<div class="col-md-12">
				<% flash.each do |message_type, message| %>
					<div class="alert alert-<%= message_type %>"><%= message %></div>
				<% end %>
				<% if false %>
				<div class="logo"><%= image_tag('test_labrador_logo.png', alt: 'Labrador', class: "main_logo") %></div>
				<% end %>
				<div class="logo" style="color: red; font-size: 2em; line-height:3em; margin-top: 40px; font-style: italic;">Labrador</div>
				<div class="tagline_container">
					<h1 class="tagline">Some relationships mean</h1>
					<h1 class="tagline">more than others.</h1>					
				</div>
				<h2 class="splash subline">We aspire for real connection with the people who matter. Suppose you could dedicate 15 minutes, once a week, into strengthening a relationship you care about. With Labrador, you can.</h2>
				<div class="early_access_container">
					<%= form_for(:early_access, url: early_access_signup_path) do |f| %>
						<%= f.text_field :email, { placeholder: "Interested? What's your email?", class: "email_input", value: @early_access_email } %>
						<%= f.submit "GET EARLY ACCESS", { id: "submit_email", class: "submit" } %>
					<% end %>
				</div>
			</div>
		</div>

	</div>

	<% if false %>
	<div style="margin-left: 54px; margin-top: 250px;">
		<div>
			
		</div>
		<div style="margin-top: 13px;">
			<p class="tagline_description">Deliver on the moments you think of someone.</p>
			<p class="tagline_description">We make it easy for you to write a message</p>
			<p class="tagline_description">to your favorite people for any occasion.</p>
		</div>
		<div style="margin-top: 23px;">
			<div class="button_container signup_button_container"><%= link_to "SIGN UP", signup_path, class: "submit_button main_signup_button" %></div>
		</div>
	</div>
	<% end %>

	<% if false %>
	<div class="row row-waitlist">
		<% if @waitlist %>
			<%= @waitlist.inspect %>
		<% end %>
		<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
			<div>
				<h3>We make it easier to send personal, hand-written cards.</h3>
			</div>
			<div>
				<h4>Be the first to know when it's ready:</h4>
			</div>
			<div>
				<%= form_for(:waitlist, url: waitlist_path) do |f| %>

					<%= f.text_field :email, { placeholder: "What's your email address?", class: "waitlist-input", value: @waitlist_email } %>
					<%= f.submit "Get queued", { id: "submit_waitlist", class: "waitlist-submit" } %>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
	<% if false %>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>	
</div>
