<!-- stripe config -->
<%= javascript_include_tag "https://js.stripe.com/v2/" %>
<%= javascript_tag do %>
	Stripe.setPublishableKey("<%= Rails.application.secrets.stripe_publishable_key %>");
<% end %>

<div class="row">
	<div class="col-xs-8 col-xs-offset-2">

		<ul class="card_list">

			<li class="card_title">
				<h3>Choose a Card</h3>
			</li>

			<% @cards.each do |card| %>
				<% is_primary = (card.id == @default_card_id) %>
				<li class="existing_cards card<%= ' default selected' if is_primary %>">
					<label class="card_item">
						<%= radio_button_tag :card_id, "#{card.id}", is_primary ? true : false , class: "select_card" %>
						<div class="brand_image">
							<%= image_tag("icons/#{card.brand.underscore}.png", alt: "#{card.brand}", width: '75', class: "brand_icon") %>
						</div>
						<%= render 'card_info', card: card, is_primary: is_primary %>
						<div class="card_actions">
							<%= button_to 'Use this Card', { controller: "payment_cards", action: "set_for_order", card_id: card.id, customer_id: card.customer }, method: :post, class: "btn select btn-primary btn-full select-shipping"  %>
							<button type="button" class="btn edit edit_card btn-secondary btn-left" data-card-id="<%= card.id %>">Edit</button>
							<%= button_to "Delete", { controller: "payment_cards", action: :destroy, id: card.id }, method: :delete, class: "btn delete btn-secondary btn-right", data: {confirm: "Are you sure you want to delete this card?"} %>
						</div>
					</label>
					<div class="card_form_div update_card_form">
						<%= form_for :card, html: { class: "card_form" }, url: checkout_payment_cards_path, method: :post do |f| %>

							<div>
								<%= image_tag("icons/#{card.brand.underscore}.png", alt: "#{card.brand}", width: '75' ) %>
								<span style="font-weight: bold;"><%= "#{card.brand}" %></span>
								<span><%= "ending in #{card.last4}" %></span>
							</div>
				
							<%= render 'shared/update_payment_card_fields', f: f, card: card %>

							<div class="form_field submit">
								<div class="form_input update">
									<%= f.submit "Update", class: "btn btn-primary" %>
								</div>
								<div class="form_input cancel">
									<button type="button" class="btn cancel cancel_billing_card_update">Cancel</button>
								</div>
							</div>

						<% end %>
					</div>
				</li>
			<% end %>

			<!-- new card form -->
			<li class="new_card">
				<div class="new_card" style="background-color: lightgrey;">
					<a style="cursor: pointer;" id="add_new_card">+ Add New Card</a>
				</div>
				<div class="card_form_div new_card_form" id="new_card_form">
					<h3>New Card</h3>
					<div id="flash-messages"></div>

					<%= form_for :payment_card, html: { class: "card_form", id: 'newCard' }, url: checkout_payment_cards_path, method: :post do |f| %>
						
						<%= render 'shared/new_payment_card_fields', f: f, address: @default_billing_address %>

						<div class="form_field submit">
							<div class="form_input">
								<%= f.submit "Save Card", class: "btn btn-primary", style: "color: white; backvround: rgb(242,118,73);" %>
							</div>
						</div>
						
					<% end %>
				</div>
			</li>

		</ul>

	</div>	
</div>




<%= @cards.inspect %>