<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<ul class="address_list">
			<% @addresses.each do |address| %>
				<li class="address<%= ' default' if address.is_primary? %>">
					<label class="address_item">
						<%= radio_button_tag :address_id, "address-#{address.id}", address.is_primary ? true : false , class: "select_address" %>
						<div class="address_info">
							<div>
								<span class="name"><%= "#{address.first_name} #{address.last_name}" %></span>
							</div>
							<div>
								<span class="street"><%= address.street %></span>
								<span class="suite"><%= address.suite %></span>
							</div>
							<div>
								<span class="city"><%= address.city %></span>
								<span class="state"><%= address.state %></span>
								<span class="zip"><%= address.zipcode %></span>
							</div>
							<div>
								<span class="country">United States</span>
							</div>
						</div>

						<div class="address_actions">
							<%= button_to 'Ship Here', { controller: "addresses", action: "set_for_order", address_id: address.id }, method: :post, class: "btn select btn-primary btn-full select-shipping"  %>
							<button type="button" class="btn edit btn-secondary btn-left">Edit</button>
							<%= button_to "Delete", { controller: "addresses", action: "delete_for_order", address_id: address.id }, method: :post, class: "btn delete btn-secondary btn-right" %>
						</div>
					</label>
				</li>
			<% end %>
			<li>
				<div class="new_address" style="background-color: lightgrey;">
					<a href="#" id="new_address">+ Add New Address</a>
				</div>

				<div class="address_form_div">
					<% address = current_user.addresses.new %>
					<%= form_for address, url: create_with_order_addresses_path, html: {class: "address_form" } do |f| %>
						<%= render 'shared/error_messages', object: f.object %>
						<div class="form_field name">
							<div class="first_name">
								<%= f.label :first_name, class: "form_label" %>
								<div class="form_input">
									<%= f.text_field :first_name, placeholder: "Kevin" %>
								</div>
							</div>
							<div class="last_name">
								<%= f.label :last_name, class: "form_label" %>
								<div class="form_input">
									<%= f.text_field :last_name, placeholder: "Suh" %>
								</div>
							</div>
						</div>

						<div class="form_field street">
							<%= f.label :street, class: "form_label" %>
							<div class="form_input">
								<%= f.text_field :street, placeholder: "123 Main St." %>
							</div>
						</div>
						
						<div class="form_field suite">
							<%= f.label :suite, class: "form_label" %>
							<div class="form_input">
								<%= f.text_field :suite, placeholder: "Suite 206" %>
							</div>
						</div>

						<div class="form_field city">
							<%= f.label :city, class: "form_label" %>
							<div class="form_input">
								<%= f.text_field :city, placeholder: "New York" %>
							</div>
						</div>

						<div class="form_field state">
							<%= f.label :state, class: "form_label" %>
							<div class="form_input">
								<%= f.select :state, options_for_select(us_states.each { |state, abrv| [abrv, state] }), include_blank: false %>
							</div>
						</div>

						<div class="form_field zipcode">
							<%= f.label :zipcode, class: "form_label" %>
							<div class="form_input">
								<%= f.text_field :zipcode, placeholder: "98023" %>
							</div>
						</div>

						<div class="form_field default">
							<%= f.label :is_primary, "Default" %>
							<div class="default_input">
								<%= f.check_box :is_primary %>
							</div>
						</div>

						<div class="form_field submit">
							<div class="form_input">
								<%= f.submit "Save address and continue", class: "btn btn-primary" %>
							</div>
						</div>

					<% end %>

				</div>
			</li>
		</ul>
	</div>	
</div>

