<% 
def us_states
  [
    ['Alabama', 'AL'],
    ['Alaska', 'AK'],
    ['Arizona', 'AZ'],
    ['Arkansas', 'AR'],
    ['California', 'CA'],
    ['Colorado', 'CO'],
    ['Connecticut', 'CT'],
    ['Delaware', 'DE'],
    ['District of Columbia', 'DC'],
    ['Florida', 'FL'],
    ['Georgia', 'GA'],
    ['Hawaii', 'HI'],
    ['Idaho', 'ID'],
    ['Illinois', 'IL'],
    ['Indiana', 'IN'],
    ['Iowa', 'IA'],
    ['Kansas', 'KS'],
    ['Kentucky', 'KY'],
    ['Louisiana', 'LA'],
    ['Maine', 'ME'],
    ['Maryland', 'MD'],
    ['Massachusetts', 'MA'],
    ['Michigan', 'MI'],
    ['Minnesota', 'MN'],
    ['Mississippi', 'MS'],
    ['Missouri', 'MO'],
    ['Montana', 'MT'],
    ['Nebraska', 'NE'],
    ['Nevada', 'NV'],
    ['New Hampshire', 'NH'],
    ['New Jersey', 'NJ'],
    ['New Mexico', 'NM'],
    ['New York', 'NY'],
    ['North Carolina', 'NC'],
    ['North Dakota', 'ND'],
    ['Ohio', 'OH'],
    ['Oklahoma', 'OK'],
    ['Oregon', 'OR'],
    ['Pennsylvania', 'PA'],
    ['Puerto Rico', 'PR'],
    ['Rhode Island', 'RI'],
    ['South Carolina', 'SC'],
    ['South Dakota', 'SD'],
    ['Tennessee', 'TN'],
    ['Texas', 'TX'],
    ['Utah', 'UT'],
    ['Vermont', 'VT'],
    ['Virginia', 'VA'],
    ['Washington', 'WA'],
    ['West Virginia', 'WV'],
    ['Wisconsin', 'WI'],
    ['Wyoming', 'WY']
  ]
end

%>

<div class="payment_div">

	<div class="user_information">
		<div class="shipping">

			<div class="header">
				<h6 class="header_title">Step 1: Shipping Info</h6>
			</div>
			<hr class="border_line">

			<alert ng-repeat="alert in addressAlerts" type="{{alert.type}}" close="closeAddressAlert($index)">{{alert.msg}}</alert>

			<div class="selected_address" ng-show="viewSelectedAddress">

				<div ng-show="finalOptions.address">
					<!-- address info -->
					<div class="address_info selected">
						<div class="name detail">
							{{finalOptions.address.first_name}} {{finalOptions.address.last_name}}
						</div>
						<div class="street detail">
							{{finalOptions.address.street}}
							<div class="singleAddressOptions link_options">
								 <a class="link_option" ng-click="editAddress(finalOptions.address)">edit</a> / <a ng-click="displayAddressList()" class="link_option">change</a>
							</div>
						</div>
						<div class="street_two detail">
							{{finalOptions.address.city}}, {{finalOptions.address.state | stateAbbreviation}} {{finalOptions.address.zipcode}}
						</div>
					</div>
				</div>

				<!-- first time user is entering an address -->
				<div ng-hide="finalOptions.address">
					<div class="address_form new_address">
						<div class="name form_field">
							<div class="name">
								<div class="form_input first_name">
						      <input ng-model="firstTimeAddress.first_name" type="text" placeholder="First Name"/>
						    </div>
						    <div class="form_input last_name">
						      <input ng-model="firstTimeAddress.last_name" type="text" placeholder="Last Name"/>
						    </div>
							</div>
						</div>

						<div class="street form_field">
							<div class="street">
								<div class="form_input">
						      <input ng-model="firstTimeAddress.street" type="text" placeholder="Street"/>
						    </div>
							</div>
						</div>

						<div class="address_other form_field">
							<div class="city">
								<div class="form_input">
						      <input ng-model="firstTimeAddress.city" type="text" placeholder="City"/>
						    </div>
							</div>

							<div class="state">
								<div class="form_input">
									<select ng-model="firstTimeAddress.state">
							  		<option value="">State</option>
							  		<% us_states.each { |state, abrv| %>
							  			<option value="<%= state %>"><%= abrv %></option>
										<% } %>
							  	</select>
								</div>
							</div>

							<div class="zip">
								<div class="form_input">
						      <input ng-model="firstTimeAddress.zipcode" type="text" placeholder="Zip"/>
						    </div>
							</div>

							<div class="country">
								<div class="form_input">
									<country-select data-ng-model="firstTimeAddress.country"></country-select>
								</div>
							</div>
						</div>

						<div class="options form_field">
							<div class="options">
								<div class="form_input is_primary">
						      <input id="is_primary_firstTimeAddress" class="checkbox" ng-model="firstTimeAddress.is_primary" type="checkbox"/><label for="is_primary_firstTimeAddress">Default shipping address</label>
						    </div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="addresses" ng-controller="SingleCheckoutController">

				<!-- address info -->
				<div class="address_info" ng-repeat="address in user.addresses" ng-show="viewAddressList" ng-class="{'selected': address.id == selectedAddress.id}" ng-click="selectedAddress.id = address.id">
					<div class="selectAddressSection">
						<input ng-model="selectedAddress.id" value="{{address.id}}" type="radio" name="single_address"/>
					</div>
					<div class="detailsSection">
						<div class="name detail">
							{{address.first_name}} {{address.last_name}}
						</div>
						<div class="street detail">
							{{address.street}}
							<div class="link_options singleAddressOptions" ng-show="selectedAddress.id == address.id">
								 <a class="link_option" ng-click="editAddress(address)">edit</a> / <a ng-click="chooseAddress(address)" class="link_option">use</a>
							</div>
						</div>
						<div class="street_two detail">
							{{address.city}}, {{address.state | stateAbbreviation}} {{address.zipcode}}
						</div>
					</div>
					
				</div>

				<!-- option for new address to append to this list -->
				<div class="new_address_option" ng-show="viewAddressList">
					<div class="link_options">
						<a class="link_option" ng-click="newAddressForm()">add new shipping address</a>
					</div>
				</div>

				<!-- new address form -->
				<div class="address_form new_address" ng-show="viewNewAddressForm">
					<div class="name form_field">
						<div class="name">
							<div class="form_input first_name">
					      <input ng-model="newAddress.first_name" type="text" placeholder="First Name"/>
					    </div>
					    <div class="form_input last_name">
					      <input ng-model="newAddress.last_name" type="text" placeholder="Last Name"/>
					    </div>
						</div>
					</div>

					<div class="street form_field">
						<div class="street">
							<div class="form_input">
					      <input ng-model="newAddress.street" type="text" placeholder="Street"/>
					    </div>
						</div>
					</div>

					<div class="address_other form_field">
						<div class="city">
							<div class="form_input">
					      <input ng-model="newAddress.city" type="text" placeholder="City"/>
					    </div>
						</div>

						<div class="state">
							<div class="form_input">
								<select ng-model="newAddress.state">
						  		<option value="">State</option>
						  		<% us_states.each { |state, abrv| %>
						  			<option value="<%= state %>"><%= abrv %></option>
									<% } %>
						  	</select>
							</div>
						</div>

						<div class="zip">
							<div class="form_input">
					      <input ng-model="newAddress.zipcode" type="text" placeholder="Zip"/>
					    </div>
						</div>

						<div class="country">
							<div class="form_input">
								<country-select data-ng-model="newAddress.country"></country-select>
							</div>
						</div>
					</div>

					<div class="options form_field">
						<div class="options">
							<div class="form_input is_primary">
					      <input id="is_primary_newAddress" class="checkbox" ng-model="newAddress.is_primary" type="checkbox"/><label for="is_primary_newAddress">Default shipping address</label>
					    </div>
						</div>
					</div>

					<div class="actions form_field">
						<div class="button_box">
							<button class="card_button shipping_button cancel" ng-click="cancelAddressSave()">CANCEL</button>
							<button class="card_button shipping_button save" ng-click="createAddress()">SAVE</button>
						</div>
					</div>
				</div>
					
				<!-- update address form -->
				<div class="address_form update_address" ng-show="viewEditAddressForm">
					<div class="name form_field">
						<div class="name">
							<div class="form_input first_name">
					      <input ng-model="editingAddress.first_name" type="text" placeholder="First Name"/>
					    </div>
					    <div class="form_input last_name">
					      <input ng-model="editingAddress.last_name" type="text" placeholder="Last Name"/>
					    </div>
						</div>
					</div>

					<div class="street form_field">
						<div class="street">
							<div class="form_input">
					      <input ng-model="editingAddress.street" type="text" placeholder="Street"/>
					    </div>
						</div>
					</div>

					<div class="address_other form_field">
						<div class="city">
							<div class="form_input">
					      <input ng-model="editingAddress.city" type="text" placeholder="City"/>
					    </div>
						</div>

						<div class="state">
							<div class="form_input">
								<select ng-model="editingAddress.state">
						  		<option value="">State</option>
						  		<% us_states.each { |state, abrv| %>
						  			<option value="<%= state %>"><%= abrv %></option>
									<% } %>
						  	</select>
							</div>
						</div>

						<div class="zip">
							<div class="form_input">
					      <input ng-model="editingAddress.zipcode" type="text" placeholder="Zip"/>
					    </div>
						</div>

						<div class="country">
							<div class="form_input">
								<country-select data-ng-model="editingAddress.country"></country-select>
							</div>
						</div>
					</div>

					<div class="options form_field">
						<div class="options">
							<div class="form_input is_primary">
					      <input id="is_primary_{{editingAddress.id}}" class="checkbox" ng-model="editingAddress.is_primary" type="checkbox"/><label for="is_primary_{{editingAddress.id}}">Default shipping address</label>
					    </div>
						</div>
					</div>

					<div class="actions form_field">
						<div class="button_box">
							<button class="card_button shipping_button cancel" ng-click="cancelAddressSave()">CANCEL</button>
							<button class="card_button shipping_button save" ng-click="updateAddress()">SAVE</button>
						</div>
					</div>

				</div>
			
			</div>
		</div>

		<div class="payment">

			<div class="header">
				<h6 class="header_title">Step 2: Payment Method</h6>
				<span style="float: right;" class="glyphicon glyphicon-menu-down"></span>
			</div>
			<hr class="border_line">

			<alert ng-repeat="alert in paymentAlerts" type="{{alert.type}}" close="closePaymentAlert($index)">{{alert.msg}}</alert>

			<div ng-show="addressIsFilled">

				<div class="selected_payment" ng-show="viewSelectedPayment">

					<div ng-show="finalOptions.payment">
						<!-- card info -->
						<div class="payment_info selected">
							<div class="name detail">
								{{finalOptions.payment.name}}
							</div>
							<div class="card detail">
								**** **** **** {{finalOptions.payment.last4}} <img ng-src="assets/icons/{{finalOptions.payment.brand | snakeCase}}.png" style="height: 1.5em;"/>
								<div class="singleAddressOptions link_options">
									 <a class="link_option" ng-click="editPayment(finalOptions.payment)">edit</a> / <a ng-click="displayPaymentList()" class="link_option">change</a>
								</div>
							</div>
							<div class="exp detail">
								exp. {{finalOptions.payment.exp_month}}/{{finalOptions.payment.exp_year}}
							</div>
						</div>
					</div>

					<!-- first time user is entering an address -->
					<div ng-hide="finalOptions.payment">
						<div class="card_icons">
							<img class="cc" ng-src="assets/icons/credit_cards_sprite.png" />
						</div>
						NEW PAYMENT FORM

						<!-- <div class="address_form new_address" ng-show="viewNewAddressForm">
							<div class="name form_field">
								<div class="name">
									<div class="form_input first_name">
							      <input ng-model="newAddress.first_name" type="text" placeholder="First Name"/>
							    </div>
							    <div class="form_input last_name">
							      <input ng-model="newAddress.last_name" type="text" placeholder="Last Name"/>
							    </div>
								</div>
							</div>

							<div class="street form_field">
								<div class="street">
									<div class="form_input">
							      <input ng-model="newAddress.street" type="text" placeholder="Street"/>
							    </div>
								</div>
							</div>

							<div class="address_other form_field">
								<div class="city">
									<div class="form_input">
							      <input ng-model="newAddress.city" type="text" placeholder="City"/>
							    </div>
								</div>

								<div class="state">
									<div class="form_input">
										<select ng-model="newAddress.state">
								  		<option value="">State</option>
								  		<% us_states.each { |state, abrv| %>
								  			<option value="<%= state %>"><%= abrv %></option>
											<% } %>
								  	</select>
									</div>
								</div>

								<div class="zip">
									<div class="form_input">
							      <input ng-model="newAddress.zipcode" type="text" placeholder="Zip"/>
							    </div>
								</div>

								<div class="country">
									<div class="form_input">
										<country-select data-ng-model="newAddress.country"></country-select>
									</div>
								</div>
							</div>

							<div class="options form_field">
								<div class="options">
									<div class="form_input is_primary">
							      <input id="is_primary_newAddress" class="checkbox" ng-model="newAddress.is_primary" type="checkbox"/><label for="is_primary_newAddress">Default shipping address</label>
							    </div>
								</div>
							</div>

							<div class="actions form_field">
								<div class="button_box">
									<button class="card_button shipping_button cancel" ng-click="cancelAddressSave()">CANCEL</button>
									<button class="card_button shipping_button save" ng-click="createAddress()">SAVE</button>
								</div>
							</div>
						</div> -->
					</div>
				</div>

				<div class="payments" ng-controller="SingleCheckoutController">

					<!-- payments info -->
					<div class="payment_info" ng-repeat="payment in stripe_customer.sources.data" ng-show="viewPaymentList" ng-class="{'selected': payment.last4 == selectedPayment.last4}" ng-click="selectedPayment.last4 = payment.last4">

						<div class="selectPaymentSection">
							<input ng-model="selectedPayment.last4" value="{{payment.last4}}" type="radio" name="single_payment"/>
						</div>
						<div class="detailsSection">
							<div class="name detail">
								{{payment.name}}
							</div>
							<div class="card detail">
								**** **** **** {{payment.last4}} <img ng-src="assets/icons/{{payment.brand | snakeCase}}.png" style="height: 1.5em;"/>
								<div class="link_options singleAddressOptions" ng-show="selectedPayment.last4 == payment.last4">
									 <a class="link_option" ng-click="editPayment(payment)">edit</a> / <a ng-click="choosePayment(payment)" class="link_option">use</a>
								</div>
							</div>

							<div class="exp detail">
								exp. {{payment.exp_month}}/{{payment.exp_year}}
							</div>
						</div>
						
					</div>

					<!-- option for new payment to append to this list -->
					<div class="new_payment_option" ng-show="viewPaymentList" style="margin: 10px 0;">
						<div class="link_options">
							<a class="link_option" ng-click="newPaymentForm()">add new payment method</a>
						</div>
					</div>

					<!-- new payment method form -->
					<form name="ccForm" class="payment_form new_address" ng-show="viewNewPaymentForm" novalidate>

						<div class="card_icons">
							<img class="cc" ng-src="assets/icons/credit_cards_sprite.png" />
						</div>

						<div class="full_name form_field">
							<div class="form_input">
								<input ng-model="newPayment.name" placeholder="Cardholder Name"/>
							</div>
						</div>

						<div class="number form_field">
							<div class="form_input">
								<input type="text" name="ccNumber" cc-number cc-format ng-model="newPayment.number" placeholder="Cardholder Number" novalidate/>
							</div>
						</div>

						<div class="exp form_field">
							<div class="month form_input">
								<select ng-model="newPayment.exp_month" class="card_month">
									<option value="">Month</option>
						  		<% Date::MONTHNAMES.compact.each_with_index.map { |name, i| %>
						  			<option value="<%= i+1 %>"><%= "#{i+1} - #{name}" %></option>
						  		<% } %> 
						  	</select>
							</div>

							<div class="year form_input">
								<select ng-model="newPayment.exp_year" class="card_year">
						  		<option value="">Year</option>
						  		<% (Date.today.year..(Date.today.year+15)).each do |date| %>
						  			<option value="<%= date %>"><%= date %></option>
						  		<% end %>
						  	</select>
							</div>

							<div class="cvc form_input">
								<div class="form_input">
									<input cc-cvc ng-model="newPayment.cvc" novalidate placeholder="CVC"/>
									<span class="glyphicon glyphicon-question-sign" tooltip-class="cvcTooltip" tooltip-placement="right" tooltip="Your CVC is the 3-digit security code on the back of your credit card."></span>
								</div>
							</div>

						</div>

						<div class="options form_field">
							<div class="options">
								<div class="form_input is_primary">
						      <input id="is_primary_newPayment" class="checkbox" ng-model="newPayment.is_primary" type="checkbox"/><label for="is_primary_newPayment">Default payment method</label>
						    </div>
							</div>
						</div>

						<div class="address_separator form_field">
							<hr class="border_line" style="margin: 5px 0;">
						</div>

						<div class="options form_field">
							<div class="options">
								<div class="form_input same_as_shipping_address">
						      <input id="same_as_shipping_address_newPayment" class="checkbox" ng-model="newPayment.same_as_shipping_address" type="checkbox"/><label for="same_as_shipping_address_newPayment">Billing address same as shipping address</label>
						    </div>
							</div>
						</div>

						<!-- BILLING ADDRESS here, default filled as shipping address -->
						<div ng-hide="newPayment.same_as_shipping_address">
							<div class="name form_field">
								<div class="name">
									<div class="form_input first_name">
							      <input ng-model="newPayment.address.first_name" type="text" placeholder="First Name"/>
							    </div>
							    <div class="form_input last_name">
							      <input ng-model="newPayment.address.last_name" type="text" placeholder="Last Name"/>
							    </div>
								</div>
							</div>

							<div class="street form_field">
								<div class="street">
									<div class="form_input">
							      <input ng-model="newPayment.address.street" type="text" placeholder="Street"/>
							    </div>
								</div>
							</div>

							<div class="address_other form_field">
								<div class="city">
									<div class="form_input">
							      <input ng-model="newPayment.address.city" type="text" placeholder="City"/>
							    </div>
								</div>

								<div class="state">
									<div class="form_input">
										<select ng-model="newPayment.address.state">
								  		<option value="">State</option>
								  		<% us_states.each { |state, abrv| %>
								  			<option value="<%= state %>"><%= abrv %></option>
											<% } %>
								  	</select>
									</div>
								</div>

								<div class="zip">
									<div class="form_input">
							      <input ng-model="newPayment.address.zipcode" type="text" placeholder="Zip"/>
							    </div>
								</div>

								<div class="country">
									<div class="form_input">
										<country-select data-ng-model="newPayment.address.country"></country-select>
									</div>
								</div>
							</div>
						</div>

						<div class="actions form_field">
							<div class="button_box">
								<button class="card_button shipping_button cancel" ng-click="cancelPaymentSave()">CANCEL</button>
								<button class="card_button shipping_button save" ng-disabled="ccForm.$invalid" ng-click="createPayment()">SAVE</button>
							</div>
						</div>
					</form>
						
					<!-- update payment method form -->
					<div class="payment_form update_payment" ng-show="viewEditPaymentForm">

						<div class="exp form_field">
							<h5 style="margin-bottom: 5px;">Expiration date</h5>
							<div class="month form_input">
								<select ng-model="editingPayment.exp_month" class="card_month">
						  		<% Date::MONTHNAMES.compact.each_with_index.map { |name, i| %>
						  			<option value="<%= i+1 %>"><%= "#{i+1} - #{name}" %></option>
						  		<% } %> 
						  	</select>
							</div>

							<div class="year form_input">
								<select ng-model="editingPayment.exp_year" class="card_year">
						  		<% (Date.today.year..(Date.today.year+15)).each do |date| %>
						  			<option value="<%= date %>"><%= date %></option>
						  		<% end %>
						  	</select>
							</div>
						</div>

						<div class="name form_field">
							<h5 style="margin-bottom: 5px;">Name on card</h5>
							<div class="name form_input">
								<input ng-model="editingPayment.name" type="text" placeholder="Name"/>
							</div>
						</div>

						<div class="options form_field">
							<div class="options">
								<div class="form_input is_primary">
						      <input id="is_primary_editingPayment" class="checkbox" ng-model="editingPayment.is_primary" type="checkbox"/><label for="is_primary_editingPayment">Default payment method</label>
						    </div>
							</div>
						</div>

						<div class="actions form_field">
							<div class="button_box">
								<button class="card_button shipping_button cancel" ng-click="cancelPaymentSave()">CANCEL</button>
								<button class="card_button shipping_button save" ng-click="updatePayment()">SAVE</button>
							</div>
						</div>

					</div>
				
				</div>

			</div>

		</div>

		<div ng-show="addressIsFilled && paymentIsFilled" style="width: 100%; float: left; margin-top: 10px;">
			<button class="card_button shipping_button" ng-click="submitOrder()">PURCHASE CARDS</button>
		</div>
		

	</div>

</div>