<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<ul class="address_list">
			<li class="address_title">
				<h3>Choose a shipping address</h3>
			</li>
			<% @addresses.each do |address| %>
				<li class="address<%= ' default' if address.is_primary? %>">
					<label class="address_item">
						<%= radio_button_tag :address_id, "address-#{address.id}", address.is_primary ? true : false , class: "select_address" %>
						<div class="address_info">
							<div>
								<span class="name"><%= "#{address.first_name} #{address.last_name}" %></span>
							</div>
							<div>
								<span class="street"><%= address.street %></span>
								<span class="suite"><%= address.suite %></span>
							</div>
							<div>
								<span class="city"><%= address.city %></span>
								<span class="state"><%= address.state %></span>
								<span class="zip"><%= address.zipcode %></span>
							</div>
							<div>
								<span class="country">United States</span>
							</div>
							<% if address.is_primary? %>
							<div class="default_notice">
								<span>Default shipping address</span>
							</div>
							<% end %>
						</div>

						<div class="address_actions">
							<%= button_to 'Ship Here', { controller: "addresses", action: "set_for_order", address_id: address.id }, method: :post, class: "btn select btn-primary btn-full select-shipping"  %>
							<button type="button" class="btn edit edit_address btn-secondary btn-left" data-address-id="<%= address.id %>">Edit</button>
							<%= button_to "Delete", { controller: "addresses", action: "delete", address_id: address.id }, method: :post, class: "btn delete btn-secondary btn-right", data: {confirm: "Are you sure you want to delete this address?"} %>
						</div>
					</label>
					<div class="address_form_div" data-address-id="<%= address.id %>">
						<%= form_for [:checkout, address], html: {class: "address_form" } do |f| %>
							<%= render 'shared/error_messages', object: f.object %>
							<%= render 'address_fields', f: f %>		
							<div class="form_field submit">
								<div class="form_input">
									<%= f.submit "Update", class: "btn btn-primary" %>
								</div>
							</div>
						<% end %>
					</div>
				</li>
			<% end %>
			<li>

				<div class="new_address" style="background-color: lightgrey;">
					<a href="#" id="new_address">+ Add New Address</a>
				</div>

				<div class="address_form_div" data-address-id="new">
					<% address = current_user.addresses.new %>
					<%= form_for address, url: checkout_addresses_path, html: {class: "address_form" } do |f| %>
						<%= render 'shared/error_messages', object: f.object %>
						<%= render 'address_fields', f: f %>		
						<div class="form_field submit">
							<div class="form_input">
								<%= f.submit "Save address and continue", class: "btn btn-primary" %>
							</div>
						</div>

					<% end %>

				</div>

			</li>
		</ul>
	</div>	
</div>

