<div class="form_field name">
	<%= label_tag :name, "Name on card", required: true, class: "form_label"  %>
	<div class="form_input">
		<%= text_field_tag :name, nil, class: "input-block-level", "data-stripe" => "name" %>
	</div>	
</div>

<div class="form_field number">
	<%= label_tag :card_number, "Card Number", required: true, class: "form_label" %>
	<div class="form_input">
		<%= text_field_tag :card_number, nil, class: "card-number-input input-block-level", "data-stripe" => "number", placeholder: "•••• •••• •••• ••••" %>
	</div>
</div>

<div class="form_field details">
	<div class="expiration">
		<%= label_tag "Expiration Date", nil, required: true, class: "form_label" %>
		<div class="form_input">
			<%= select_tag :exp_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name, i| ["#{i+1} - #{name}", i+1] }), include_blank: false, "data-stripe" => "exp_month", class: "card_month" %>
			<%= select_tag :exp_year, options_for_select((Date.today.year..(Date.today.year+10)).to_a), include_blank: false, "data-stripe" => "exp_year", class: "card_year" %>
		</div>
	</div>
	
	<div class="verification">
		<%= label_tag :card_verification, "Card Verification", required: true, class: "form_label" %>
		<div class="form_input">
			<%= text_field_tag :card_verification, nil, class: "input-block-level card-verification", "data-stripe" => "cvv", autocomplete: "off" %>
		</div>
	</div>
</div>

<div class="form_field billing_address_choice" style="margin-bottom: 0;">
	<%= f.label "billing_address_same_new_card", "My billing address is the same as my shipping address:" %>
	<div class="billing_choice_input">
		<%= f.check_box :same_as_shipping, { id: "payment_card_billing_address_same_new_card", checked: true, class: "same_billing_address new_card" } %>
	</div>
	
</div>

<div class="form_field billing_address" style="margin-top:0;">
	<div class="default_address">
		<%= "#{@default_billing_address.street} #{@default_billing_address.suite} #{@default_billing_address.city}, #{@default_billing_address.state} #{@default_billing_address.zipcode}" %>
	</div>
	<div class="new_address">
		<h3>Billing Address</h3>
		<%= render 'shared/address_fields', f: f, address: address %>
	</div>
</div>

<div class="form_field default_choice">
	<%= f.label "default_card_new_card", "Default card:" %>
	<div class="default_choice_input">
		<%= f.check_box :default_card, { id: "payment_card_default_card_new_card", checked: true, class: "default_card new_card"} %>
	</div>
</div>