<div class="form_field name">
	<%= f.hidden_field :id, value: card.id %>
	<%= f.label :name, "Name on card", required: true, class: "form_label"  %>
	<div class="form_input">
		<%= f.text_field :name, class: "input-block-level", value: card.name %>
	</div>	
	<div class="form_field details">
		<div class="expiration">
			<%= label_tag "Expiration Date", nil, required: true, class: "form_label" %>
			<div class="form_input">
				<%= f.select :exp_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name, i| ["#{i+1} - #{name}", i+1] }, card.exp_month), {}, { include_blank: false, class: "card_month" } %>
				<%= f.select :exp_year, options_for_select((Date.today.year..(Date.today.year+10)).to_a, card.exp_year), {}, { include_blank: false,class: "card_year" } %>
			</div>
		</div>
	</div>
	<div class="form_field default_choice">
		<%= f.label "default_#{card.id}", "Default card:" %>
		<div class="default_choice_input">
			<%= f.check_box :default_card, {id: "card_default_#{card.id}", checked: is_primary, class: "default_card new_card"} %>
		</div>
	</div>

</div>