<form ng-submit="submit()">

	<!-- name / relationship -->
	<div class="modal-header family">
		<div class="body">
			<div class="row recipient_info">
				<div class="photo">
					<img class="recipient_image" ng-src="{{photo}}"/>
				</div>
				<div class="basic_info">
					<div class="name form_field">
						<div class="first_name">
							<div class="form_input">
					      <input ng-model="recipient.firstName" type="text" placeholder="First Name"/>
					    </div>
						</div>

						<div class="last_name">
							<div class="form_input">
					      <input ng-model="recipient.lastName" type="text" placeholder="Last Name"/>
					    </div>
						</div>

					</div>

					<div class="relationship form_field">
						<div class="relationship">

							<div class="relationship_input form_input">
								<select ng-model="recipient.relationship">
						  		<option value="">Choose Relationship</option>
						  		<% us_states.each { |state, abrv| %>
						  			<option value="<%= state %>"><%= abrv %></option>
									<% } %>
						  	</select>
							</div>

							<!-- this is the grouping color -->
							<!-- <div class="group_input form_input">
								<select ng-model="recipient.first_name">
						  		<option value="">O</option>
						  		<% us_states.each { |state, abrv| %>
						  			<option value="<%= state %>"><%= abrv %></option>
									<% } %>
						  	</select>
							</div> -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- address + events -->
	<div class="modal-body modal_body">

		<div class="body">
			<div class="row address_title">
				<h3 class="modal_title">Address</h3>
				<h6 class="last_updated">Last Updated 2/14/15</h6>
				<hr>
			</div>
			<div class="row address">
				<div class="street form_field">
					<div class="street">
						<div class="form_input">
				      <input ng-model="user.first_name" type="text" placeholder="Street"/>
				    </div>
					</div>
				</div>

				<div class="address_other form_field">
					<div class="city">
						<div class="form_input">
				      <input ng-model="user.first_name" type="text" placeholder="City"/>
				    </div>
					</div>

					<div class="state">
						<div class="form_input">
							<select ng-model="user.first_name">
					  		<option value="">State</option>
					  		<% us_states.each { |state, abrv| %>
					  			<option value="<%= state %>"><%= abrv %></option>
								<% } %>
					  	</select>
						</div>
					</div>

					<div class="zip">
						<div class="form_input">
				      <input ng-model="user.first_name" type="text" placeholder="Zip"/>
				    </div>
					</div>

					<div class="country">
						<div class="form_input">
							<select ng-model="user.first_name">
					  		<option value="">Country</option>
					  		<% us_states.each { |state, abrv| %>
					  			<option value="<%= state %>"><%= abrv %></option>
								<% } %>
					  	</select>
						</div>
					</div>

				</div>
			</div>

			<div class="row events_title">
				<h3 class="modal_title">Events</h3>
				<hr>
			</div>

			<div class="row events">
				<div class="events form_field">
					<div class="occasion">
						<div class="form_input">
				      <input ng-model="user.first_name" type="text" placeholder="Event"/>
				    </div>
					</div>

					<div class="month">
						<div class="form_input">
							<select ng-model="user.first_name">
					  		<option value="">Month</option>
					  		<% us_states.each { |state, abrv| %>
					  			<option value="<%= state %>"><%= abrv %></option>
								<% } %>
					  	</select>
						</div>
					</div>

					<div class="day">
						<div class="form_input">
				      <input ng-model="user.first_name" type="text" placeholder="Day"/>
				    </div>
					</div>

					<div class="year">
						<div class="form_input">
							<select ng-model="user.first_name">
					  		<option value="user.first_name">Year</option>
					  		<% us_states.each { |state, abrv| %>
					  			<option value="<%= state %>"><%= abrv %></option>
								<% } %>
					  	</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row add_new_event">
				<span style="color:red;">+ Add New Event</span>
			</div>
		</div>
		

	</div>
	<div class="modal-footer">
		<button class="cancel-btn btn" ng-click="cancel()">Cancel</button>
    <input type="submit" class="submit-btn btn" value="Save" />
	</div>
</form>
