<header class="row cart-header">
	<div class="col-xs-2 col-xs-offset-1">
		<h4><%= @orders.count %> Cards Queued</h4>
	</div>
</header>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="order-wrapper">
			<% @orders.each do |order| 
				recipient = order.recipient
				occasion = order.occasion
				%>
				<div class="order-details">
					<div class="item-image">
						<%= image_tag(order.card.card_images.first.picture.url, class: "card_image") %>
					</div>
					<div class="item-details">
						<ul>
							<li>
								Recipient: <%= "#{recipient.first_name} #{recipient.last_name}" %>
							</li>
							<li>
								Relationship: <%= recipient.relationship.name %>
							</li>
							<li>
								Occasion: <%= "For #{recipient.first_name}'s #{occasion.name} on #{order.recipient_arrival_date.strftime('%B %d, %Y')}" %>
							</li>
						</ul>
					</div>
				</div>
			<% end %>
			

			<div class="order-summary">
				You will receive these approx. 3 weeks before each queued date.

				<%= link_to "Checkout Now", checkout_final_path %>
			</div>
		</div>
	</div>
</div>
