<!-- stripe config -->
<%= javascript_include_tag "https://js.stripe.com/v2/" %>
<%= javascript_tag do %>
	Stripe.setPublishableKey("<%= Rails.application.secrets.stripe_publishable_key %>");
<% end %>

<!-- payment form -->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div id="flash-messages"></div>
		<h1>Check Out</h1>

		<%= form_for :payment, html: { class: "stripe-form", id: 'newCardPayment' }, url: charges_path, method: :post do |f| %>
			<article>
				<%= label_tag 'amount', 'To Pay', class: 'amount' %>
				<%= label_tag 'amount', "$#{@amount}.00", class: 'amount-figure' %>
			</article>
			<br>
			<%= label_tag "Card Number", nil, required: true %>
			<%= text_field_tag :card_number, nil, class: "input-block-level", "data-stripe" => "number" %>

			<%= label_tag "Card Verification", nil, required: true %>
			<%= text_field_tag :card_verification, nil, class: "input-block-level", "data-stripe" => "cvv" %>

			<%= label_tag "Card Expires", nil, required: true %>
			<%= select_tag :exp_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name, i| ["#{i+1} - #{name}", i+1] }), include_blank: false, "data-stripe" => "exp-month", class: "card-month" %>

			<%= select_tag :exp_year, options_for_select((Date.today.year..(Date.today.year+10)).to_a), include_blank: false, "data-stripe" => "exp-year", class: "span1" %>
			<%= f.submit "Pay Now", class: "btn", style: "color: white; backvround: rgb(242,118,73);" %>
			<br><br><br><br>

		<% end %>
	</div>
</div>


