
<% if false %>
<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "Cardagain", root_url, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav pull-right">
				<li><%= link_to "Home",   root_url %></li>
				<li><%= link_to "Help",   help_path %></li>
				<% if logged_in? %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Users", users_path %></li>
						<li><%= link_to "Profile", current_user %></li>
						<li><%= link_to "Settings", edit_user_path(current_user) %></li>
						<li class="divider"></li>
						<li>
							<%= link_to "Log out", logout_path, method: "delete" %>
						</li>
					</ul>
				</li>
				<% else %>
				<li><%= link_to "Log in", login_path %></li>
				<% end %>	
			</ul>
		</nav>
	</div>
</header>
<% end %>

<header class="navbar">
	<div>
	  <nav>
	  	<span>
		    <%= link_to "Cardagain", root_url %>
		  </span>
			<% if logged_in? %>
			<!-- our current header -->
				<% queued_orders = Order.get_orders_for current_user.id, "queued" %>
				<% purchased_orders = Order.get_orders_for current_user.id, "purchased" %>
				<ul class="nav navbar-nav pull-right">
					<div class="notifications">
					  <div class="notification_container">
					  	<a href="#" id="view_queued">
						  	<%= image_tag('queued_icon.png', alt: 'Queued Orders', class: "icon") %>
						  	<span id="queued_count" class="notification_bubble"><%= queued_orders.count %></span>
					  	</a>
					  </div>
					  <div class="notification_container">
					  	<a href="#" id="view_purchased">
						  	<%= image_tag('purchased_icon.png', alt: 'Purchased Orders', class: "icon") %>
						  	<span id="purchased_count" class="notification_bubble"><%= purchased_orders.count %></span>
					  	</a>
					  </div>
					</div>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag(gravatar_for(current_user, size: 40), alt: current_user.first_name, class: "user_gravatar") %></a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><span style="cursor: default;"><%= current_user.email %></span></li>
							<li class="divider"></li>
							<li><%= link_to "Profile", "#" %></li>
							<li><%= link_to "Settings", "#" %></li>
							<li class="divider"></li>
							<% if current_user.is_admin? %>
							 	<li><span><%= link_to "Admin", admin_path %></span></li>
							<% end %>
							<li><span><%= link_to "Card Survey", card_survey_rankings_path %></span></li>
							<li class="divider"></li>
							<li>
								<%= link_to "Log out", logout_path, method: "delete" %>
							</li>
						</ul>
					</li>
				</ul>
			<% else %>
				<ul class="nav navbar-nav pull-right">
					<li><%= link_to "How does it work?", about_path %></li>
					<li><%= link_to "The Inspiration", why_path %></li>
					<li><%= link_to "The Team", team_path %></li>
				</ul>
			<% end %>
		</nav>
	</div>
</header>