<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= render 'layouts/shim' %>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container main_page container-full">

			<%= render 'layouts/header' %>
			<%= yield %>
			<%= render 'layouts/footer' %>

			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
