<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= render 'layouts/shim' %>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application', media: 'all' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container container-full" style="width: 100%; height: 100%; position: absolute;">
			<%= yield %>
			
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
